<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }} - Kiosk</title>
    <link rel="stylesheet" href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="d-flex flex-column justify-content-center align-items-center vh-100">
        <img src="/static/pictures/logo.png" alt="Logo" class="mb-4">
        <h1 class="text-center mb-4">Welcome to the Kiosk POS of {{ app_name }}</h1>
        <p class="text-center mb-4">If you need help, please contact the administrator.</p>
        <a href="/dashboard" class="btn btn-primary">To the Dashboard</a>
        <a href="/student" class="btn btn-primary">To the Student Login</a>
    </div>
</body>
</html>