<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kiosk</title>
    <link rel="stylesheet" href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <img src="/static/pictures/logo.png" alt="Logo" class="mb-4">
    <h1 class="text-center mb-4">Willkommen beim Kiosk POS von {Name}</h1>
    <p class="text-center mb-4">Wenn Sie nicht weiterkommen, wenden Sie sich bitte an den Administrator.</p>
    <a href="/dashboard" class="btn btn-primary">Zum Dashboard</a>
</div>
</body>
</html>