<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ app_name }} - Product List</title>
    <link rel="stylesheet" href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>{{ app_name }} - Product List</h1>
        <form method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price (in {{ currency_symbol }})</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>
                            <input type="text" name="name_{{ product.id }}" value="{{ product.name }}">
                        </td>
                        <td>
                            <input type="text" name="price_{{ product.id }}" value="{{ product.price }}">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</body>
</html>