<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ app_name }} - Student Options</title>
    <link rel="stylesheet" href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <style>
        .center-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container center-content">
        <h1>{{ app_name }} - Student Options</h1>
        <h2>Hello, {{ student_name }}</h2>
        <h3>Your Balance: {{ balance }}</h3>
        <h3>Your Transactions:</h3>
        <ul>
            {% for transaction_info in transactions %}
            <li>
                <p>Transaction ID: {{ transaction_info.transaction.id }}</p>
                <p>Total Amount: {{ transaction_info.transaction.total_amount }}</p>
                <p>Date: {{ transaction_info.transaction.transaction_date }}</p>
                <p>Items:</p>
                <ul>
                    {% for item in transaction_info.items %}
                    <li>{{ item.product.name }} (Quantity: {{ item.quantity }})</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        <a href="/student" class="btn btn-primary">Logout</a>
    </div>
</body>
</html>